
<%if @wines.present? %>
  <p>Below is the list of users</p>
  <table width="100%">
    <tr>
      <td>ID</td>
      <td>Title</td>
      <td>Description</td>
      <td>Image</td>
      <td>Origin</td>
      <td>Type</td>
      <td>Size</td>
      <td>Price</td>
      <td>Company</td>
    </tr>
    <%@wines.each do |a| %>
      <p> <% @wines %> </p>
      <%end%>
    <%@wines.each do |u|%>
    <tr>
     <td><%=u[:id]%></td>
      <td><%=u[:Title]%></td>
      <td><%=u[:Description]%></td>
      <td><%=u[:Img_url]%></td>
      <td><%=u[:Origin]%></td>
      <td><%=u[:Type]%></td>
      <td><%=u[:Size]%></td>
      <td><%=u[:Price]%></td>
      <td><%=u[:Company]%></td>
    </tr>
   <%end%>
  </table>
<%else%>
  <p>No Wines is Found</p>
<%end%>