
<%if @wines.present? %>
  <p>Below is the list of users</p>
  <table width="100%">
    <tr>
      <td>Image</td>
      <td>Title</td>
      <td>Description</td> 
      <td>Price</td>
      <td> </td>
    </tr>
  
    <%@wines.each do |u|%>
    <tr>
      <td><%=u[:Img_url]%></td>
      <td><%=u[:Title]%></td>
      <td><%=u[:Description]%></td>
      <td><%=u[:Price]%></td>
      <td> <%= button_to "View", wine_show_path(u)%></td>
    </tr>
        
   <%end%>


   
      
   
  </table>
<%else%>
  <p>No Wines is Found</p>
<%end%>